# Configuration file for MoxQuizz
#

###########################################################################
#
# Global settings.
#
# Make adjustments in this section.
#
###########################################################################

# Do we have channel rules?  If set to yes, edit quizdata/channelrules.txt to
# fit your needs.  (yes/no)
#
channelrules            = yes

# The channel the quiz is on
quizchannel             = #moxquizz

# which datasets should be loaded (look for files with this as extension in
# directory quizdata)
questionset             = en

# which language shall the bot speak? (look for files in intl for available
# languages)
language                = en

# Shall the users win prices when they win a game?  If set yes, check
# quizdata/prices.txt for a list of prices.  (yes/no)
prices                  = yes

# Shall the umlauts be stripped from userquestions?  This is a
# temporarily available option since unicode support in eggdrop and
# TCL has changed and isn't stable yet.  This option will be removed
# in the future.  (yes/no)
stripumlauts            = no

# Shall the log events (answers, games, revolts, ...) for statistical
# purposes to quizdata/stats.data (might produce lots of data)?  (yes/no)
statslog                = yes

# Which is the default thing to do after a game?  'Halt' waits for a
# user to start the game with !ask again, which 'newgame' simply
# starts the next game.  Note that you can override this for the
# current game with .!aftergame <value> (see README for more info).
# (halt/newgame)
aftergameaction         = newgame

###########################################################################
#
# Optional features
#
# Make adjustments here, too.
#
###########################################################################

# enable/disable channeltips -- small helptexts postet now and then (yes/no)
# see or edit quizdata/channeltips.txt for the tips.
channeltips             = yes

# shall the bot use colors? (yes/no)
colorize                = yes

# enable/disable compute allstars table per month (yes/no)
monthly_allstars        = yes

# Shall the bot use msg instead of notice for user information? (yes/no)
msgwhisper              = no

# automatically pause if channel get moderated? (yes/no)
# some protection scripts do that
pausemoderated          = no

# let the users post own questions, too.  (yes/no)
userquestions           = yes


###########################################################################
#
# Security settings
#
# Make adjustments here, too
#
###########################################################################

# enable/disable the lastwinner restriction (yes/no)
lastwinner_restriction  = no

# number of games a user may win in a row before he is ignored for one game
lastwinner_max_games    = 2

# don't accept anwers from new players after overrunlimit points have
# been reached by at least one player (yes/no)
overrun_protection      = yes

###########################################################################
#
# System stuff
#
# You normally don't want to change this.
#
###########################################################################

# Loglevel the quiz stuff is logged
quizloglevel            = 1

# number of seconds users must have said something to be considered as
# active in !revolt
useractivetime          = 240

# max number of open userquestions allowed.  (if buffer is filled, no
# !userquests are accepted.  Let the bot ask some to free the buffer)
userqbufferlength       = 5


###########################################################################
#
# Things which affect the gameplay and bot behaviour (timers and score 
# allstars score calculation etc).  You normally don't want to change
# these.
#
###########################################################################

# max number of rank and allstar lines users can request
maxranklines            = 25

# number of tips automatically generated of non in question base given
tipcycle                = 5

# num of point needed to win a game
winscore                = 30

# whenever a user reaches this value, no 'new' player are accepted for
# the current game. This is to prevent the overrun weakness of the
# allstars formula which allowed very good players to enter a game at
# a late state and gain lots of points.
# A good value is 50% of the winscore.
overrunlimit            = 15

# seconds between an answer and the new question
askdelay                = 15

# seconds between tips given
tipdelay                = 30
